<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/a7f0a654-d40f-4b97-a9f6-c53b5bdfee6c/v3/index.json" />
  </packageSources>
</configuration>